openapi: 3.2.0
info:
  title: Harri Employee Open Deprecated PayTypes API
  description: 'API for managing and retrieving employee data in the Harri system. - Notice: Harri''s API enforces a rate limit of 400 requests per minute. Once you exceed this limit, an HTTP 403 error is returned with a body that informs you that the limit has been exceeded. Please examine the API returns for this error so your software can respond appropriately. After 4 June, 2026, the rate limiting error will change from 403 to 429.'
  termsOfService: https://harri.com/terms
  version: 1.0.0
servers:
- url: https://gateway.harri.com/open-api-hub
tags:
- name: Deprecated PayTypes
paths:
  /api/v1/employees/{employeeId}/pay_types:
    post:
      deprecated: true
      tags:
      - Deprecated PayTypes
      summary: Define new employee pay type API
      description: 'Use this api when u want to create the employee paytype with other financials information. positions

        '
      operationId: DeprecatedCreateEmployeePayTypes
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      requestBody:
        description: Employee pay type info
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  format: date
                pay_type:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - SALARIED
                      - HOURLY
                      - WEIGHTED_SHIFT
                    cross_location_mode:
                      type:
                      - string
                      - 'null'
                      enum:
                      - FIXED
                      - FLEXIBLE
                      description: Required when the pay type is set to HOURLY.
                annual_rate:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                tronc:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                max_weekly_hours:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                positions:
                  type: array
                  items:
                    type: object
                    properties:
                      position:
                        type: object
                        properties:
                          code:
                            type: string
                      hourly_rate:
                        type: object
                        properties:
                          value:
                            type: number
                          tronc:
                            type: number
                        required:
                        - value
                      tipped_status:
                        type: object
                        properties:
                          is_tipped:
                            type: boolean
                        required:
                        - is_tipped
                      location_id:
                        type: string
                        description: location id, should be primary location id for employees with fixed pay
                    required:
                    - code
                    - hourly_rate
              required:
              - start_date
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEmployeePayTypeResponseV1'
  /api/v1/employees/{employeeId}/pay_types/{payTypeId}:
    put:
      deprecated: true
      tags:
      - Deprecated PayTypes
      summary: Update pay type basic info API
      description: 'Use this api to update pay type version start_date.

        '
      operationId: DeprecatedUpdateEmployeePayType
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: employee pay type info
        content:
          application/json:
            schema:
              type: object
              properties:
                pay_type:
                  type: object
                  properties:
                    start_date:
                      type: string
                      format: date
                  required:
                  - start_date
              required:
              - pay_type
      responses:
        '200':
          description: successful operation
    delete:
      deprecated: true
      tags:
      - Deprecated PayTypes
      summary: Delete pay type by id API
      description: 'Delete pay type

        '
      operationId: DeprecatedDeleteEmployeePayTypes
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
  /api/v2/employees/{employeeId}/pay_types:
    post:
      deprecated: true
      tags:
      - Deprecated PayTypes
      summary: Define new employee pay type API
      description: 'Use this api when u want to create the employee paytype with other financials information.

        '
      operationId: DeprecatedCreateEmployeePayTypesV2
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      requestBody:
        description: Employee pay type info
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  format: date
                pay_type:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - SALARIED
                      - HOURLY
                      - WEIGHTED_SHIFT
                    cross_location_mode:
                      type:
                      - string
                      - 'null'
                      enum:
                      - FIXED
                      - FLEXIBLE
                      description: Required when the pay type is set to HOURLY.
                annual_rate:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                tronc_point:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                tronc_amount:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                max_weekly_hours:
                  type: object
                  properties:
                    value:
                      type: number
                    working_pattern:
                      type: object
                      description: 'Defines the employee''s working pattern. The value depends on the enabled options: - If the WORKING_PATTERN service is **disabled**, the value should be omitted or set to `null`. - Option 1: Specific hours with non-specific days → `{"days_count": 1, "working_pattern_days": []}` - Option 2: Specific hours with flexible days → `{"days_count": null, "working_pattern_days": [{"day": "SUN", "hours_count": null}]}` - Option 3: Specific hours with specific days → `{"days_count": null, "working_pattern_days": [{"day": "SUN", "hours_count": 8}]}`

                        '
                      properties:
                        days_count:
                          type:
                          - number
                          - 'null'
                          description: The number of working days per week value enum(1, 2, 3, 4, 5, 6, 7), it can be null but the key is required to be sent
                        working_pattern_days:
                          type: array
                          description: 'The distribution of working days. Can be an empty list if not specifying specific days. Each item defines the day and optionally the number of hours worked.

                            '
                          items:
                            type: object
                            properties:
                              day:
                                type: string
                              hours_count:
                                type:
                                - number
                                - 'null'
                                description: The number of hours per day, it can be null but the key is required to be sent
                            required:
                            - day
                      required:
                      - days_count
                  required:
                  - value
                positions:
                  type: array
                  items:
                    type: object
                    properties:
                      position:
                        type: object
                        properties:
                          code:
                            type: string
                      hourly_rate:
                        type: object
                        properties:
                          value:
                            type: number
                          tronc_point:
                            type: number
                          tronc_rate:
                            type: number
                          tronc_amount:
                            type: number
                        required:
                        - value
                      tipped_status:
                        type: object
                        properties:
                          is_tipped:
                            type: boolean
                        required:
                        - is_tipped
                      location_id:
                        type: string
                        description: location id, should be primary location id for employees with fixed pay
                    required:
                    - code
                    - hourly_rate
              required:
              - start_date
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEmployeePayTypeResponseV2'
  /api/v3/employees/{employeeId}/pay_types:
    post:
      deprecated: true
      tags:
      - Deprecated PayTypes
      summary: Define new employee pay type API
      description: 'Use this api when u want to create the employee paytype with other financials information.

        '
      operationId: CreateEmployeePayTypesV2
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      requestBody:
        description: Employee pay type info
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  format: date
                pay_type:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - SALARIED
                      - HOURLY
                      - WEIGHTED_SHIFT
                    cross_location_mode:
                      type:
                      - string
                      - 'null'
                      enum:
                      - FIXED
                      - FLEXIBLE
                      description: Required when the pay type is set to HOURLY.
                annual_rate:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                tronc_point:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                tronc_amount:
                  type: object
                  properties:
                    value:
                      type: number
                  required:
                  - value
                max_weekly_hours:
                  type: object
                  properties:
                    value:
                      type: number
                    working_pattern:
                      type: object
                      description: 'Defines the employee''s working pattern. The value depends on the enabled options: - If the WORKING_PATTERN service is **disabled**, the value should be omitted or set to `null`. - Option 1: Specific hours with non-specific days → `{"days_count": 1, "working_pattern_days": []}` - Option 2: Specific hours with flexible days → `{"days_count": null, "working_pattern_days": [{"day": "SUN", "hours_count": null}]}` - Option 3: Specific hours with specific days → `{"days_count": null, "working_pattern_days": [{"day": "SUN", "hours_count": 8}]}`

                        '
                      properties:
                        days_count:
                          type:
                          - number
                          - 'null'
                          description: The number of working days per week value enum(1, 2, 3, 4, 5, 6, 7), it can be null but the key is required to be sent
                        working_pattern_days:
                          type: array
                          description: 'The distribution of working days. Can be an empty list if not specifying specific days. Each item defines the day and optionally the number of hours worked.

                            '
                          items:
                            type: object
                            properties:
                              day:
                                type: string
                              hours_count:
                                type:
                                - number
                                - 'null'
                                description: The number of hours per day, it can be null but the key is required to be sent
                            required:
                            - day
                      required:
                      - days_count
                  required:
                  - value
                positions:
                  type: array
                  items:
                    type: object
                    properties:
                      position:
                        type: object
                        properties:
                          code:
                            type: string
                      hourly_rate:
                        type: object
                        properties:
                          value:
                            type: number
                          tronc_point:
                            type: number
                          tronc_rate:
                            type: number
                          tronc_amount:
                            type: number
                        required:
                        - value
                      tipped_status:
                        type: object
                        properties:
                          is_tipped:
                            type: boolean
                        required:
                        - is_tipped
                      location_id:
                        type: string
                        description: location id, should be primary location id for employees with fixed pay
                    required:
                    - code
                    - hourly_rate
              required:
              - start_date
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEmployeePayTypeResponseV2'
components:
  schemas:
    DeprecatedHourlyRate:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        tronc:
          type: number
    DeprecatedMaxWeeklyHours:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        working_pattern:
          description: 'Present only when the underlying Team service version returns a working pattern (i.e., for endpoints whose request validation accepts `working_pattern`). May be omitted or `null` otherwise.

            '
          allOf:
          - $ref: '#/components/schemas/WorkingPattern'
    PostEmployeePayTypeResponseV1:
      type: object
      properties:
        pay_type:
          type: object
          properties:
            id:
              type: number
            type:
              type: string
              enum:
              - SALARIED
              - HOURLY
              - WEIGHTED_SHIFT
            start_date:
              type: string
              format: date
            cross_location_mode:
              type:
              - string
              - 'null'
              enum:
              - FIXED
              - FLEXIBLE
        annual_rate:
          $ref: '#/components/schemas/AnnualRate'
        tronc:
          $ref: '#/components/schemas/DeprecatedTronc'
        max_weekly_hours:
          $ref: '#/components/schemas/DeprecatedMaxWeeklyHours'
        positions:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              location_id:
                type: string
              hourly_rate:
                $ref: '#/components/schemas/DeprecatedHourlyRate'
              tipped_status:
                $ref: '#/components/schemas/TippedStatus'
    WorkingPattern:
      type: object
      properties:
        id:
          type: number
        days_count:
          type:
          - number
          - 'null'
          description: 'Number of working days per week. Allowed values: 1 to 7. Can be `null` when working days are defined explicitly in `working_pattern_days`.

            '
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
        working_pattern_days:
          type: array
          description: 'The distribution of working days. Can be an empty list if not specifying specific days. Each item defines the day and optionally the number of hours worked.

            '
          items:
            $ref: '#/components/schemas/WorkingPatternDays'
      example:
        id: 101
        days_count: null
        working_pattern_days:
        - day: MON
          hours_count: 8
        - day: WED
          hours_count: 6
        - day: FRI
          hours_count: 4
    HourlyRate:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        tronc_point:
          type: number
        tronc_amount:
          type: number
        tronc_rate:
          type: number
    TippedStatus:
      type: object
      properties:
        id:
          type: number
        is_tipped:
          type: boolean
        start_date:
          type: string
          format: date
    TroncPoint:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    AnnualRate:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    DeprecatedTronc:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    PostEmployeePayTypeResponseV2:
      type: object
      properties:
        pay_type:
          type: object
          properties:
            id:
              type: number
            type:
              type: string
              enum:
              - SALARIED
              - HOURLY
              - WEIGHTED_SHIFT
            start_date:
              type: string
              format: date
            cross_location_mode:
              type:
              - string
              - 'null'
              enum:
              - FIXED
              - FLEXIBLE
        annual_rate:
          $ref: '#/components/schemas/AnnualRate'
        tronc_amount:
          $ref: '#/components/schemas/TroncAmount'
        tronc_point:
          $ref: '#/components/schemas/TroncPoint'
        max_weekly_hours:
          $ref: '#/components/schemas/DeprecatedMaxWeeklyHours'
        positions:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              location_id:
                type: string
              hourly_rate:
                $ref: '#/components/schemas/HourlyRate'
              tipped_status:
                $ref: '#/components/schemas/TippedStatus'
    TroncAmount:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    WorkingPatternDays:
      type: object
      properties:
        id:
          type: number
        day:
          type: string
          enum:
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
          - SUN
          description: 'Day of the week. Must be one of: MON, TUE, WED, THU, FRI, SAT, SUN.

            '
        hours_count:
          type:
          - number
          - 'null'
          description: 'Number of working hours on this day. Can be `null` if not specified.

            '
      example:
        id: 1
        day: SUN
        hours_count: 8
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.harri.com/oauth2/token
          scopes: {}
