openapi: 3.2.0
info:
  title: Harri Employee Open Job Title API
  description: 'API for managing and retrieving employee data in the Harri system. - Notice: Harri''s API enforces a rate limit of 400 requests per minute. Once you exceed this limit, an HTTP 403 error is returned with a body that informs you that the limit has been exceeded. Please examine the API returns for this error so your software can respond appropriately. After 4 June, 2026, the rate limiting error will change from 403 to 429.'
  termsOfService: https://harri.com/terms
  version: 1.0.0
servers:
- url: https://gateway.harri.com/open-api-hub
tags:
- name: JobTitle
paths:
  /api/v1/job_titles:
    get:
      tags:
      - JobTitle
      summary: Retrieve all job titles
      description: Retrieve all job titles
      operationId: GetAllJobTitles
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/JobTitle'
                  - type: object
                    properties:
                      color:
                        type:
                        - string
                        - 'null'
                      status:
                        type:
                        - string
                        - 'null'
components:
  schemas:
    JobTitle:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        name:
          type: string
        skill_needed:
          type: boolean
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.harri.com/oauth2/token
          scopes: {}
