openapi: 3.2.0
info:
  title: Harri Employee Open Franchisee Position API
  description: 'API for managing and retrieving employee data in the Harri system. - Notice: Harri''s API enforces a rate limit of 400 requests per minute. Once you exceed this limit, an HTTP 403 error is returned with a body that informs you that the limit has been exceeded. Please examine the API returns for this error so your software can respond appropriately. After 4 June, 2026, the rate limiting error will change from 403 to 429.'
  termsOfService: https://harri.com/terms
  version: 1.0.0
servers:
- url: https://gateway.harri.com/open-api-hub
tags:
- name: Franchisee Position
paths:
  /api/v1/franchisees/{franchiseeId}/positions:
    get:
      tags:
      - Franchisee Position
      summary: Retrieve all positions API
      description: Retrieve all positions
      operationId: FranshiseesGetAllPositions
      parameters:
      - name: franchiseeId
        in: path
        required: true
        schema:
          type: number
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/Position'
                  - type: object
                    properties:
                      id:
                        type: string
components:
  schemas:
    Position:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        category:
          type: object
          properties:
            id:
              type: number
            code:
              type: string
            name:
              type: string
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.harri.com/oauth2/token
          scopes: {}
