openapi: 3.2.0
info:
  title: Harri Employee Open Tronc Points API
  description: 'API for managing and retrieving employee data in the Harri system. - Notice: Harri''s API enforces a rate limit of 400 requests per minute. Once you exceed this limit, an HTTP 403 error is returned with a body that informs you that the limit has been exceeded. Please examine the API returns for this error so your software can respond appropriately. After 4 June, 2026, the rate limiting error will change from 403 to 429.'
  termsOfService: https://harri.com/terms
  version: 1.0.0
servers:
- url: https://gateway.harri.com/open-api-hub
tags:
- name: TroncPoints
paths:
  /api/v1/employees/{employeeId}/pay_types/{payTypeId}/tronc_points:
    get:
      tags:
      - TroncPoints
      summary: Retrieve employee tronc points API
      description: Retrieve employee tronc points
      operationId: GetEmployeeTroncPoints
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  tronc_points:
                    type: array
                    items:
                      $ref: '#/components/schemas/TroncPoint'
  /api/v2/employees/{employeeId}/pay_types/{payTypeId}/tronc_points:
    post:
      tags:
      - TroncPoints
      summary: Define new employee tronc point API
      description: 'use this api when u want to define new employee tronc point

        '
      operationId: CreateEmployeeTroncPoint
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Employee tronc point
        content:
          application/json:
            schema:
              type: object
              properties:
                tronc_point:
                  type: object
                  properties:
                    value:
                      type: number
                    start_date:
                      type: string
                      format: date
              required:
              - value
              - start_date
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  tronc_point:
                    $ref: '#/components/schemas/TroncPoint'
  /api/v2/employees/{employeeId}/pay_types/{payTypeId}/tronc_points/{troncPointId}:
    put:
      tags:
      - TroncPoints
      summary: Update employee tronc point API
      description: Update employee tronc point by id
      operationId: UpdateEmployeeTroncPoint
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      - name: troncPointId
        in: path
        description: tronc point id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Employee tronc point
        content:
          application/json:
            schema:
              type: object
              properties:
                tronc_point:
                  type: object
                  properties:
                    value:
                      type: number
                    start_date:
                      type: string
                      format: date
      responses:
        '200':
          description: successful operation
    delete:
      tags:
      - TroncPoints
      summary: Delete employee tronc point API
      description: Delete employee tronc point by id
      operationId: DeleteEmployeeTroncPoint
      parameters:
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      - name: troncPointId
        in: path
        description: tronc point id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
components:
  schemas:
    TroncPoint:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.harri.com/oauth2/token
          scopes: {}
