openapi: 3.2.0
info:
  title: Harri Employee Open Deprecated Franchisee AnnualRates API
  description: 'API for managing and retrieving employee data in the Harri system. - Notice: Harri''s API enforces a rate limit of 400 requests per minute. Once you exceed this limit, an HTTP 403 error is returned with a body that informs you that the limit has been exceeded. Please examine the API returns for this error so your software can respond appropriately. After 4 June, 2026, the rate limiting error will change from 403 to 429.'
  termsOfService: https://harri.com/terms
  version: 1.0.0
servers:
- url: https://gateway.harri.com/open-api-hub
tags:
- name: Deprecated Franchisee AnnualRates
paths:
  /api/v1/franchisees/{franchiseeId}/employees/{employeeId}/pay_types/{payTypeId}/annual_rates:
    post:
      deprecated: true
      tags:
      - Deprecated Franchisee AnnualRates
      summary: Define new employee annual rate API
      description: 'use this api when u want to define employee annual rate

        '
      operationId: DeprecatedFranshiseesCreateEmployeeAnnualRate
      parameters:
      - name: franchiseeId
        in: path
        required: true
        schema:
          type: number
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Employee annual rate
        content:
          application/json:
            schema:
              type: object
              properties:
                annual_rate:
                  type: object
                  properties:
                    value:
                      type: number
                    start_date:
                      type: string
                      format: date
                  required:
                  - value
                  - start_date
              required:
              - annual_rate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  annual_rate:
                    $ref: '#/components/schemas/AnnualRate'
  /api/v1/franchisees/{franchiseeId}/employees/{employeeId}/pay_types/{payTypeId}/annual_rates/{annualRateId}:
    put:
      deprecated: true
      tags:
      - Deprecated Franchisee AnnualRates
      summary: Update employee annual rate API
      description: Update employee annual rate by id
      operationId: DeprecatedFranshiseesUpdateEmployeeAnnualRate
      parameters:
      - name: franchiseeId
        in: path
        required: true
        schema:
          type: number
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      - name: annualRateId
        in: path
        description: annual rate id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Employee annual rate
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: number
                start_date:
                  type: string
                  format: date
      responses:
        '200':
          description: successful operation
    delete:
      deprecated: true
      tags:
      - Deprecated Franchisee AnnualRates
      summary: Delete employee annual rate API
      description: Delete employee annual rate by id
      operationId: DeprecatedFranshiseesDeleteEmployeeAnnualRate
      parameters:
      - name: franchiseeId
        in: path
        required: true
        schema:
          type: number
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      - name: annualRateId
        in: path
        description: annual rate id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
components:
  schemas:
    AnnualRate:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.harri.com/oauth2/token
          scopes: {}
