openapi: 3.0.1
info:
  title: Harri Employee OpenAPI
  description: >-
    API for managing and retrieving employee data in the Harri system.
    - Notice: Harri's API enforces a rate limit of 400 requests per minute. Once you exceed this limit, an HTTP 403 error is returned with a body that informs you that the limit has been exceeded. Please examine the API returns for this error so your software can respond appropriately.
    After 4 June, 2026, the rate limiting error will change from 403 to 429.
  termsOfService: https://harri.com/terms
  version: 1.0.0
servers:
  - url: https://gateway.harri.com/open-api-hub
components:
  schemas:
    Location:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        country_code:
          type: string
        state_code:
          type: string
        city:
          type: string
    Position:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        category:
          type: object
          properties:
            id:
              type: number
            code:
              type: string
            name:
              type: string
    CostCenter:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        name:
          type: string
        value:
          type: object
          properties:
            id:
              type: number
            code:
              type: string
            name:
              type: string
    Address:
      type: object
      properties:
        country_code:
          type: string
          example: US
        state_code:
          type: string
          example: NY
        city:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
        postal_code:
          type: string
    DeprecatedBankAccount:
      type: object
      properties:
        routing_number:
          type: string
          description: for US locations only
        account_number:
          type: string
        registration_number:
          type: string
          description: for DK locations
        account_type:
          type: string
          enum:
            - SAVINGS
            - CHECKING
          description: for US locations only
        bank_name:
          type: string
        account_name:
          type: string
          description: for non US locations
        sort_code:
          type: string
          description: for other US locations
    BankAccount:
      type: object
      properties:
        id:
          type: number
          description: employee bank account id
        order:
          type: number
          description: >-
            the order of the employee's bank account. An order value of 1
            signifies that this is the primary bank account.
        routing_number:
          type: string
          description: for US locations only
        account_number:
          type: string
        registration_number:
          type: string
          description: for DK locations
        account_type:
          type: string
          enum:
            - SAVINGS
            - CHECKING
          description: for US locations only
        bank_name:
          type: string
        account_name:
          type: string
          description: for non US locations
        sort_code:
          type: string
          description: for other US locations
        deposit_amount_type:
          type: string
          enum:
            - ENTIRE
            - PARTIAL
            - FIXED
          description: Specifies the type of deposit amount.
        amount:
          type: number
          nullable: true
          description: >-
            Represents the amount of money if deposit_amount_type is FIXED, the
            percentage if deposit_amount_type is PARTIAL, and is null if
            deposit_amount_type is ENTIRE.
        bank_branch:
          type: string
          nullable: true
        bic:
          type: string
          nullable: true
        iban:
          type: string
          nullable: true
    JobTitle:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        name:
          type: string
        skill_needed:
          type: boolean
    TerminationReason:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        name:
          type: string
    TerminationReasonV2:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
    TerminationReasonGroup:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        termination_reasons:
          type: array
          items:
            $ref: '#/components/schemas/TerminationReasonV2'
    EmployeeJobTitle:
      type: object
      allOf:
        - $ref: '#/components/schemas/JobTitle'
        - type: object
          properties:
            level:
              type: string
              description: number with quotations like "5"
    EmploymentPeriod:
      type: object
      properties:
        id:
          type: number
        hire_date:
          type: string
          format: date
          description: employee hire date
        leave_date:
          type: string
          format: date
          description: employee leave date
          nullable: true
        termination_reason:
          type: object
          nullable: true
          properties:
            code:
              type: string
            name:
              type: string
    LocationPeriod:
      type: object
      properties:
        id:
          type: number
        start_date:
          type: string
          format: date
          description: employee start date on specific location
        end_date:
          type: string
          format: date
          description: employee end date on specific location
          nullable: true
        type:
          type: string
          enum:
            - PRIMARY
            - SECONDARY
    DeprecatedHourlyRate:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        tronc:
          type: number
    DeprecatedHourlyRateV2:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        tronc_point:
          type: number
        tronc_amount:
          type: number
        tronc_rate:
          type: number
    HourlyRate:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        tronc_point:
          type: number
        tronc_amount:
          type: number
        tronc_rate:
          type: number
    DeprecatedTippedStatus:
      type: object
      properties:
        id:
          type: number
        is_tipped:
          type: boolean
        start_date:
          type: string
          format: date
    TippedStatus:
      type: object
      properties:
        id:
          type: number
        is_tipped:
          type: boolean
        start_date:
          type: string
          format: date
    DeprecatedEmployeePosition:
      allOf:
        - $ref: '#/components/schemas/Position'
        - type: object
          properties:
            id:
              type: number
            location_id:
              type: integer
              nullable: true
              description: >-
                this field is nullable, it depends on pay type. this will be
                defined only if pay type is HOURLY and cross location mode is
                FLEXIBLE
            pay_rate:
              type: object
              allOf:
                - $ref: '#/components/schemas/DeprecatedPayRate'
              nullable: true
              description: >-
                this field is nullable, it depends on pay type. this will have
                value only if pay type is HOURLY
            is_tipped:
              type: boolean
              description: >-
                this field is nullable, it depends on pay type. this will have
                value only if pay type is HOURLY
            cost_centers:
              type: array
              items:
                $ref: '#/components/schemas/CostCenter'
    DeprecatedEmployeePositionV2:
      allOf:
        - $ref: '#/components/schemas/Position'
        - type: object
          properties:
            id:
              type: number
            location_id:
              type: integer
              nullable: true
              description: >-
                this field is nullable, it depends on pay type. this will be
                defined only if pay type is HOURLY and cross location mode is
                FLEXIBLE
            pay_rates:
              type: array
              items:
                $ref: '#/components/schemas/DeprecatedPayRateV2'
            is_tipped:
              type: boolean
              description: >-
                this field is nullable, it depends on pay type. this will have
                value only if pay type is HOURLY
            cost_centers:
              type: array
              items:
                $ref: '#/components/schemas/CostCenter'
    DeprecatedAnnualRate:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    AnnualRate:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    DeprecatedTronc:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    DeprecatedTroncPoint:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    TroncPoint:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    DeprecatedTroncAmount:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    TroncAmount:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
    DeprecatedMaxWeeklyHours:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        working_pattern:
          nullable: true
          description: >
            Present only when the underlying Team service version returns a working pattern
            (i.e., for endpoints whose request validation accepts `working_pattern`).
            May be omitted or `null` otherwise.
          allOf:
            - $ref: '#/components/schemas/WorkingPattern'
    MaxWeeklyHours:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        working_pattern:
          nullable: true
          description: >
            Present only when the underlying Team service version returns a working pattern
            (i.e., for endpoints whose request validation accepts `working_pattern`).
            May be omitted or `null` otherwise.
          allOf:
            - $ref: '#/components/schemas/WorkingPattern'
    MaxWeeklyHoursV2:
      type: object
      properties:
        id:
          type: number
        start_date:
          type: string
          format: date
        average_weekly_hours:
          type: number
        working_patterns:
          type: array
          items:
            $ref: '#/components/schemas/WorkingPatternV2'
    WorkingPatternV2:
      type: object
      properties:
        id:
          type: number
        days_count:
          type: number
          nullable: true
          enum: [1, 2, 3, 4, 5, 6, 7]
        total_hours:
          type: number
        order:
          type: integer
        working_pattern_days:
          type: array
          items:
            $ref: '#/components/schemas/WorkingPatternDaysV2'
    WorkingPatternDaysV2:
      type: object
      properties:
        id:
          type: number
        day:
          type: string
          enum: ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]
        hours_count:
          type: number
          nullable: true
    DeprecatedMaxWeeklyHoursV2:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
        working_pattern:
          nullable: true
          description: >
            Present only when the underlying Team service version returns a working pattern
            (i.e., for endpoints whose request validation accepts `working_pattern`).
            May be omitted or `null` otherwise.
          allOf:
            - $ref: '#/components/schemas/WorkingPattern'
    WorkingPattern:
      type: object
      properties:
        id:
          type: number
        days_count:
          type: number
          nullable: true
          description: >
            Number of working days per week. Allowed values: 1 to 7.
            Can be `null` when working days are defined explicitly in `working_pattern_days`.

          enum: [1, 2, 3, 4, 5, 6, 7]
        working_pattern_days:
          type: array
          description: >
            The distribution of working days. Can be an empty list if not specifying specific days.
            Each item defines the day and optionally the number of hours worked.

          items:
            $ref: '#/components/schemas/WorkingPatternDays'
      example:
        id: 101
        days_count: null
        working_pattern_days:
          - day: "MON"
            hours_count: 8
          - day: "WED"
            hours_count: 6
          - day: "FRI"
            hours_count: 4

    WorkingPatternDays:
      type: object
      properties:
        id:
          type: number
        day:
          type: string
          nullable: false
          enum: ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]
          description: >
            Day of the week. Must be one of: MON, TUE, WED, THU, FRI, SAT, SUN.
        hours_count:
          type: number
          nullable: true
          description: >
            Number of working hours on this day. Can be `null` if not specified.
      example:
        id: 1
        day: "SUN"
        hours_count: 8

    WorkingPatternV4:
      type: object
      description: >
        A single working pattern as returned in v4+ Max Weekly Hours responses.
        Each entry carries its own `total_hours` and `order`.
      properties:
        id:
          type: number
        days_count:
          type: number
          nullable: true
          description: >
            Number of working days per week. Can be `null` when working days are
            defined explicitly in `working_pattern_days`.
        total_hours:
          type: number
        order:
          type: integer
          description: Position of this working pattern within the list.
        working_pattern_days:
          type: array
          items:
            $ref: '#/components/schemas/WorkingPatternDays'
    MaxWeeklyHoursV4:
      type: object
      description: >
        Max Weekly Hours entry (v4+ shape) exposing a list of `working_patterns`
        and the derived `average_weekly_hours`.
      properties:
        id:
          type: number
        start_date:
          type: string
          format: date
        average_weekly_hours:
          type: number
        working_patterns:
          type: array
          items:
            $ref: '#/components/schemas/WorkingPatternV4'
    MaxWeeklyHoursWorkingPatternRequest:
      type: object
      description: A working pattern accepted when creating Max Weekly Hours (v4+ shape).
      properties:
        days_count:
          type: number
          nullable: true
        total_hours:
          type: number
        order:
          type: integer
        working_pattern_days:
          type: array
          items:
            type: object
            properties:
              day:
                type: string
                enum:
                - MON
                - TUE
                - WED
                - THU
                - FRI
                - SAT
                - SUN
              hours_count:
                type: number
                nullable: true
    MaxWeeklyHoursWorkingPatternUpdateRequest:
      allOf:
      - $ref: '#/components/schemas/MaxWeeklyHoursWorkingPatternRequest'
      - type: object
        properties:
          id:
            type: integer
    DeprecatedAnnualPayRate:
      type: object
      properties:
        id:
          type: number
        rate:
          type: number
        tronc:
          type: number
    DeprecatedAnnualPayRateV2:
      type: object
      properties:
        id:
          type: number
        rate:
          type: number
        start_date:
          type: string
          format: date
    DeprecatedPayType:
      type: object
      properties:
        id:
          type: number
        employee_id:
          type: number
          nullable: true
        type:
          type: string
          enum:
            - SALARIED
            - HOURLY
            - WEIGHTED_SHIFT
        cross_location_mode:
          type: string
          enum:
            - FIXED
            - FLEXIBLE
          nullable: true
          description: >-
            this field is nullable, it depends on pay type. this will be defined
            only if pay type is HOURLY
        annual_pay_rate:
          $ref: '#/components/schemas/DeprecatedAnnualPayRate'
        max_weekly_hours:
          type: number
    PayType:
      type: object
      properties:
        id:
          type: number
        type:
          type: string
          enum:
            - SALARIED
            - HOURLY
            - WEIGHTED_SHIFT
        start_date:
          type: string
          format: date
        cross_location_edit_mode:
          type: string
          enum:
            - FIXED
            - FLEXIBLE
          nullable: true
          description: >-
            This field is nullable and depends on the pay type. It will only be
            defined if the pay type is set to HOURLY.
    DeprecatedEmployeePositionRelatedInfo:
      allOf:
        - $ref: '#/components/schemas/Position'
        - type: object
          properties:
            id:
              type: number
            location_id:
              type: integer
            is_primary:
              type: boolean
              description: >-
                Indicates whether this position is the primary role for a user.
                This value is determined based on the existence of a
                PRIMARY_POSITION service.
            hourly_rate:
              $ref: '#/components/schemas/DeprecatedHourlyRate'
            tipped_status:
              $ref: '#/components/schemas/TippedStatus'
            cost_centers:
              type: array
              items:
                $ref: '#/components/schemas/CostCenter'
    DeprecatedEmployeePositionRelatedInfoV2:
      allOf:
        - $ref: '#/components/schemas/Position'
        - type: object
          properties:
            id:
              type: number
            location_id:
              type: string
            is_primary:
              type: boolean
              description: >-
                Indicates whether this position is the primary role for a user.
                This value is determined based on the existence of a
                PRIMARY_POSITION service.
            hourly_rate:
              $ref: '#/components/schemas/HourlyRate'
            tipped_status:
              $ref: '#/components/schemas/TippedStatus'
            cost_centers:
              type: array
              items:
                $ref: '#/components/schemas/CostCenter'
    EmployeePositionRelatedInfo:
      allOf:
        - $ref: '#/components/schemas/Position'
        - type: object
          properties:
            id:
              type: number
            location_id:
              type: integer
            is_primary:
              type: boolean
              description: >-
                Indicates whether this position is the primary role for a user.
                This value is determined based on the existence of a
                PRIMARY_POSITION service.
            hourly_rate:
              $ref: '#/components/schemas/HourlyRate'
            tipped_status:
              $ref: '#/components/schemas/TippedStatus'
            cost_centers:
              type: array
              items:
                $ref: '#/components/schemas/CostCenter'
    BasicEmployeePositionRelatedInfo:
      allOf:
        - $ref: '#/components/schemas/Position'
        - type: object
          properties:
            location_id:
              type: integer
            is_primary:
              type: boolean
              description: >-
                Indicates whether this position is the primary role for a user.
                This value is determined based on the existence of a
                PRIMARY_POSITION service.
            hourly_rate:
              $ref: '#/components/schemas/HourlyRate'
            tipped_status:
              $ref: '#/components/schemas/TippedStatus'
    DeprecatedPayRate:
      type: object
      properties:
        id:
          type: number
        rate:
          type: number
        tronc:
          type: number
    DeprecatedPayRateV2:
      type: object
      properties:
        id:
          type: number
        rate:
          type: number
        start_date:
          type: string
          format: date
        tronc:
          type: number
    EmployeePosition:
      allOf:
        - $ref: '#/components/schemas/Position'
        - type: object
          properties:
            id:
              type: number
            location_id:
              type: integer
            is_primary:
              type: boolean
              description: >-
                Indicates whether this position is the primary role for a user.
                This value is determined based on the existence of a
                PRIMARY_POSITION service.
            cost_centers:
              type: array
              items:
                $ref: '#/components/schemas/CostCenter'
    DeprecatedPayTypeV2:
      type: object
      properties:
        id:
          type: number
        employee_id:
          type: number
          nullable: true
        type:
          type: string
          enum:
            - SALARIED
            - HOURLY
            - WEIGHTED_SHIFT
        cross_location_mode:
          type: string
          enum:
            - FIXED
            - FLEXIBLE
          nullable: true
          description: >-
            this field is nullable, it depends on pay type. this will be defined
            only if pay type is HOURLY
        annual_pay_rates:
          type: array
          items:
            $ref: '#/components/schemas/DeprecatedAnnualPayRateV2'
        tronc:
          type: number
        max_weekly_hours:
          type: number
    EmployeeBasicInfo:
      type: object
      properties:
        id:
          type: string
          example: '1'
          description: A unique ID provided by customers or third-parties
        email:
          type: string
          format: email
          description: employee email
        first_name:
          type: string
          description: employee first name
        last_name:
          type: string
          description: employee last name
        middle_name:
          type: string
          description: employee middle name
        geid:
          type: string
        birth_date:
          type: string
          format: date
          description: employee birth date
        phone:
          type: string
          format: phone
          description: employee phone number
        home_phone:
          type: string
          format: phone
          description: home phone number
        blocked_from_rehire:
          type: boolean
        known_as:
          type: string
    DeprecatedCreatedEmployee:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            user_id:
              type: number
              nullable: true
            gender:
              type: string
              enum:
                - MALE
                - FEMALE
                - NO_IDENTIFY
              description: employee gender
            national_number:
              type: string
              description: National number
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/Position'
                  - type: object
                    properties:
                      id:
                        type: number
                      location_id:
                        type: integer
                      is_primary:
                        type: boolean
                      hourly_rates:
                        type: array
                        items:
                          $ref: '#/components/schemas/DeprecatedHourlyRate'
                      tipped_statuses:
                        type: array
                        items:
                          $ref: '#/components/schemas/TippedStatus'
                      cost_centers:
                        type: array
                        items:
                          $ref: '#/components/schemas/CostCenter'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            annual_rates:
              type: array
              items:
                $ref: '#/components/schemas/AnnualRate'
            troncs:
              type: array
              items:
                $ref: '#/components/schemas/DeprecatedTronc'
            max_weekly_hours:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                  value:
                    type: number
                  start_date:
                    type: string
                    format: date
            bank_account:
              type: object
              properties:
                id:
                  type: number
                routing_number:
                  type: string
                account_number:
                  type: string
                registration_number:
                  type: string
                account_type:
                  type: string
                  enum:
                    - SAVINGS
                    - CHECKING
                bank_name:
                  type: string
                account_name:
                  type: string
                sort_code:
                  type: string
              required:
                - account_number
    DeprecatedCreatedEmployeeV2:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            user_id:
              type: number
              nullable: true
            gender:
              type: string
              enum:
                - MALE
                - FEMALE
                - NO_IDENTIFY
              description: employee gender
            national_number:
              type: string
              description: National number
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/Position'
                  - type: object
                    properties:
                      id:
                        type: number
                      location_id:
                        type: integer
                      is_primary:
                        type: boolean
                      hourly_rates:
                        type: array
                        items:
                          $ref: '#/components/schemas/HourlyRate'
                      tipped_statuses:
                        type: array
                        items:
                          $ref: '#/components/schemas/TippedStatus'
                      cost_centers:
                        type: array
                        items:
                          $ref: '#/components/schemas/CostCenter'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            annual_rates:
              type: array
              items:
                $ref: '#/components/schemas/AnnualRate'
            tronc_points:
              type: array
              items:
                $ref: '#/components/schemas/TroncPoint'
            tronc_amounts:
              type: array
              items:
                $ref: '#/components/schemas/TroncAmount'
            max_weekly_hours:
              type: array
              items:
                $ref: '#/components/schemas/MaxWeeklyHours'
            bank_account:
              type: object
              properties:
                id:
                  type: number
                routing_number:
                  type: string
                account_number:
                  type: string
                registration_number:
                  type: string
                account_type:
                  type: string
                  enum:
                    - SAVINGS
                    - CHECKING
                bank_name:
                  type: string
                account_name:
                  type: string
                sort_code:
                  type: string
              required:
                - account_number
    CreatedEmployee:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            user_id:
              type: number
              nullable: true
            title:
              type: string
              nullable: true
            gender:
              type: string
              enum:
                - MALE
                - FEMALE
                - NO_IDENTIFY
              description: employee gender
            national_number:
              type: string
              description: National number
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/Position'
                  - type: object
                    properties:
                      id:
                        type: number
                      location_id:
                        type: integer
                      is_primary:
                        type: boolean
                      hourly_rates:
                        type: array
                        items:
                          $ref: '#/components/schemas/HourlyRate'
                      tipped_statuses:
                        type: array
                        items:
                          $ref: '#/components/schemas/TippedStatus'
                      cost_centers:
                        type: array
                        items:
                          $ref: '#/components/schemas/CostCenter'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            annual_rates:
              type: array
              items:
                $ref: '#/components/schemas/AnnualRate'
            tronc_points:
              type: array
              items:
                $ref: '#/components/schemas/TroncPoint'
            tronc_amounts:
              type: array
              items:
                $ref: '#/components/schemas/TroncAmount'
            max_weekly_hours:
              type: array
              items:
                $ref: '#/components/schemas/MaxWeeklyHours'
            bank_account:
              type: object
              properties:
                id:
                  type: number
                bank_branch:
                  type: string
                  nullable: true
                bic:
                  type: string
                  nullable: true
                iban:
                  type: string
                  nullable: true
                routing_number:
                  type: string
                account_number:
                  type: string
                registration_number:
                  type: string
                account_type:
                  type: string
                  enum:
                    - SAVINGS
                    - CHECKING
                bank_name:
                  type: string
                account_name:
                  type: string
                sort_code:
                  type: string
              required:
                - account_number
    RehireEmployeeV4Response:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            title:
              type: string
              nullable: true
            gender:
              type: string
              enum:
                - MALE
                - FEMALE
                - NO_IDENTIFY
              description: employee gender
            national_number:
              type: string
              description: National number
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                last_name:
                  type: string
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/Position'
                  - type: object
                    properties:
                      id:
                        type: number
                      location_id:
                        type: integer
                      is_primary:
                        type: boolean
                      hourly_rates:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            pay_type_id:
                              type: number
                            value:
                              type: number
                            start_date:
                              type: string
                              format: date
                            tronc_point:
                              type: number
                            tronc_amount:
                              type: number
                            tronc_rate:
                              type: number
                      tipped_statuses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            pay_type_id:
                              type: number
                            is_tipped:
                              type: boolean
                            start_date:
                              type: string
                              format: date
                      cost_centers:
                        type: array
                        items:
                          $ref: '#/components/schemas/CostCenter'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            annual_rates:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                  pay_type_id:
                    type: number
                  value:
                    type: number
                  start_date:
                    type: string
                    format: date
            tronc_points:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                  pay_type_id:
                    type: number
                  value:
                    type: number
                  start_date:
                    type: string
                    format: date
            tronc_amounts:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                  pay_type_id:
                    type: number
                  value:
                    type: number
                  start_date:
                    type: string
                    format: date
            max_weekly_hours:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                  pay_type_id:
                    type: number
                  value:
                    type: number
                  start_date:
                    type: string
                    format: date
                  working_pattern:
                    nullable: true
                    allOf:
                      - $ref: '#/components/schemas/WorkingPattern'
            bank_account:
              type: object
              properties:
                id:
                  type: number
                bank_branch:
                  type: string
                  nullable: true
                bic:
                  type: string
                  nullable: true
                iban:
                  type: string
                  nullable: true
                routing_number:
                  type: string
                account_number:
                  type: string
                registration_number:
                  type: string
                account_type:
                  type: string
                  enum:
                    - SAVINGS
                    - CHECKING
                bank_name:
                  type: string
                account_name:
                  type: string
                sort_code:
                  type: string
    DeprecatedEmployeeAggregatedInfo:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            gender:
              type: string
              enum:
                - MALE
                - FEMALE
                - NO_IDENTIFY
              description: employee gender
            national_number:
              type: string
              description: National number
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/EmployeePosition'
                  - type: object
                    properties:
                      hourly_rates:
                        type: array
                        items:
                          $ref: '#/components/schemas/DeprecatedHourlyRate'
                      tipped_statuses:
                        type: array
                        items:
                          $ref: '#/components/schemas/TippedStatus'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            annual_rates:
              type: array
              items:
                $ref: '#/components/schemas/AnnualRate'
            troncs:
              type: array
              items:
                $ref: '#/components/schemas/DeprecatedTronc'
            max_weekly_hours:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                  value:
                    type: number
                  start_date:
                    type: string
                    format: date
    EmployeeCustomFieldsPersonalInfoAdditionalInfo:
      type: object
      description: Section 1 - Additional Information - PERSONAL_INFO_ADDITIONAL_INFO
      properties:
        certificate_of_sponsorship_number:
          type: string
        dbs_cert_number:
          type: string
        dbs_expiry_date:
          type: string
        dbs_issue_date:
          type: string
        disabled_veteran:
          type: string
        ethnicity_2:
          type: string
        first_language:
          type: string
        marital_status:
          type: string
        military_veteran_status:
          type: string
        nationality:
          type: string
        national_origin:
          type: string
        nmc_date_checked:
          type: string
        nmc_expiry_date:
          type: string
        nmc_pin_number:
          type: string
        passport_expiry_date:
          type: string
        passport_number:
          type: string
        person_marital_status:
          type: string
        pronoun:
          type: string
        student_permit_exp_date:
          type: string
        student_status:
          type: string
        veteran_type:
          type: string
    EmployeeCustomFieldsEmergencyContact:
      type: object
      description: Section 2 - Emergency Contact - EMERGENCY_CONTACT
      properties:
        emergency_contact_cell_phone_number:
          type: string
        emergency_contact_contact_if_detained:
          type: string
        emergency_contact_first_name:
          type: string
        emergency_contact_home_phone_number1:
          type: string
        emergency_contact_last_name:
          type: string
        emergency_contact_work_phone_number:
          type: string
    EmployeeCustomFieldsEmploymentInfoAdditionalInfo:
      type: object
      description: Section 3 - Additional Information - EMPLOYMENT_INFO_ADDITIONAL_INFO
      properties:
        benefits_eligibility_class:
          type: string
        benefit_class_code:
          type: string
        business_unit:
          type: string
        class_code_effective_date:
          type: string
        company_service_date:
          type: string
        disability_insurance_type:
          type: string
        fixed_term_contract_end_date:
          type: string
        flsa_overtime:
          type: string
        follow_up_orientation_date:
          type: string
        home_department:
          type: string
        organization_start_date:
          type: string
        orientation_date:
          type: string
        part_time_for_puerto_rico:
          type: string
        pto_plans:
          type: string
        starter_declaration:
          type: string
        unity_care_deduction:
          type: string
        worker_category:
          type: string
    EmployeeCustomFieldsFederalWithholdingDetails:
      type: object
      description: Section 4 - Federal Withholding Details - FEDERAL_WITHHOLDING_DETAILS
      properties:
        do_not_calculate_federal_tax:
          type: string
        federal_deduction_dollars:
          type: number
          format: double
          description: Decimal, 2 decimal places
        federal_exempt_status:
          type: string
        federal_extra_withholding:
          type: number
          format: double
          description: Decimal, 2 decimal places
        federal_marital_status:
          type: string
        federal_multiple_jobs:
          type: string
        federal_number_of_exceptions:
          type: integer
        federal_other_dependent_dollars:
          type: number
          format: double
          description: Decimal, 2 decimal places
        federal_other_income_dollars:
          type: number
          format: double
          description: Decimal, 2 decimal places
        federal_qualifying_children_dollars:
          type: number
          format: double
          description: Decimal, 2 decimal places
        federal_tax_additional_amount:
          type: integer
        federal_tax_deductions_amount:
          type: integer
        federal_tax_dependents_amount:
          type: integer
        federal_tax_filing_status:
          type: string
        federal_tax_multiple_jobs:
          type: string
        federal_tax_other_income_amount:
          type: integer
        federal_total_dependent_dollars:
          type: number
          format: double
          description: Decimal, 2 decimal places
    EmployeeCustomFieldsStateWithholdingDetails:
      type: object
      description: Section 5 - State Withholding Details - STATE_WITHHOLDING_DETAILS
      properties:
        do_not_calculate_state_tax:
          type: string
        geo_location_code:
          type: string
        health_insurance:
          type: string
        naics_code_for_washington:
          type: string
        number_of_exemptions:
          type: integer
        soc_code:
          type: string
        state_additional_withholding_amount:
          type: number
          format: double
          description: Decimal, 2 decimal places
        state_exempt_status:
          type: string
        state_extra_tax:
          type: integer
        state_marital_status:
          type: string
        state_number_of_exceptions:
          type: integer
    EmployeeCustomFieldsCityWithholdingDetails:
      type: object
      description: Section 6 - City Withholding Details - CITY_WITHHOLDING_DETAILS
      properties:
        city_additional_withholding_amount:
          type: number
          format: double
          description: Decimal, 2 decimal places
        city_exempt_status:
          type: string
        city_marital_status:
          type: string
        city_number_of_exceptions:
          type: integer
    EmployeeCustomFieldsLocalWithholdingDetails:
      type: object
      description: Local Withholding Details - LOCAL_WITHHOLDING_DETAILS
      properties:
        local_additional_tax_amount:
          type: number
          format: double
          description: Decimal, 2 decimal places
        locality:
          type: string
        total_allowances:
          type: integer
    EmployeeCustomFieldsPayrollTaxesAdditionalInfo:
      type: object
      description: Section 7 - Additional Information - PAYROLL_TAXES_ADDITIONAL_INFO
      properties:
        postgrad_loan:
          type: string
        previous_employer_gross:
          type: string
        previous_employer_tax:
          type: string
        secondary_class1_not_payable:
          type: string
        student_loan:
          type: string
        tax_code:
          type: string
        w1m1:
          type: string
    EmployeeCustomFieldsEqualOpportunityInformation:
      type: object
      description: Section 8 - Equal Opportunity Information - EQUAL_OPPORTUNITY_INFORMATION
      properties:
        caring_responsibilities:
          type: string
        disability_status:
          type: string
        ethnicity:
          type: string
        flexible_working_arrangements:
          type: string
        gender_identity:
          type: string
        other_ethnicity:
          type: string
        other_flexible_working_arrangements:
          type: string
        other_gender_identity:
          type: string
        other_religious_belief:
          type: string
        other_sexual_orientation:
          type: string
        religious_belief:
          type: string
        sexual_orientation:
          type: string
        specific_ethnicity:
          type: string
        type_of_caring_responsibilities:
          type: string
    EmployeeCustomFieldsPayrollTaxesPensionInformation:
      type: object
      description: Section 9 - Pension Information - PAYROLL_TAXES_PENSION_INFORMATION
      properties:
        ae_opt_out:
          type: string
        ae_opt_out_date:
          type: string
        auto_enrolled:
          type: string
        pension_employee_contribution:
          type: string
        pension_is_ae_qualifying:
          type: string
        pension_scheme:
          type: string
        pension_start_date:
          type: string
        pension_worker_group:
          type: string
        worker_status:
          type: string
    EmployeeAggregatedInfo:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          additionalProperties: true
          description: >-
            Additional dynamic custom fields (e.g., `personal_info_additional_info`)
            may appear at the top level — they are flattened from the underlying
            `custom_fields` map during serialization.
          properties:
            title:
              type: string
              nullable: true
            gender:
              type: string
              enum:
                - MALE
                - FEMALE
                - NO_IDENTIFY
              description: employee gender
            national_number:
              type: string
              description: National number
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                id:
                  type: number
                  nullable: true
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/EmployeePosition'
                  - type: object
                    properties:
                      hourly_rates:
                        type: array
                        items:
                          $ref: '#/components/schemas/HourlyRate'
                      tipped_statuses:
                        type: array
                        items:
                          $ref: '#/components/schemas/TippedStatus'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            annual_rates:
              type: array
              items:
                $ref: '#/components/schemas/AnnualRate'
            tronc_points:
              type: array
              items:
                $ref: '#/components/schemas/TroncPoint'
            tronc_amounts:
              type: array
              items:
                $ref: '#/components/schemas/TroncAmount'
            max_weekly_hours:
              type: array
              items:
                $ref: '#/components/schemas/MaxWeeklyHours'
            loa_status:
              type: string
              example: "ON_LEAVE"
              nullable: true
            pin:
              type: string
            personal_info_additional_info:
              $ref: '#/components/schemas/EmployeeCustomFieldsPersonalInfoAdditionalInfo'
            emergency_contact:
              $ref: '#/components/schemas/EmployeeCustomFieldsEmergencyContact'
            employment_info_additional_info:
              $ref: '#/components/schemas/EmployeeCustomFieldsEmploymentInfoAdditionalInfo'
            federal_withholding_details:
              $ref: '#/components/schemas/EmployeeCustomFieldsFederalWithholdingDetails'
            state_withholding_details:
              $ref: '#/components/schemas/EmployeeCustomFieldsStateWithholdingDetails'
            city_withholding_details:
              $ref: '#/components/schemas/EmployeeCustomFieldsCityWithholdingDetails'
            local_withholding_details:
              $ref: '#/components/schemas/EmployeeCustomFieldsLocalWithholdingDetails'
            payroll_taxes_additional_info:
              $ref: '#/components/schemas/EmployeeCustomFieldsPayrollTaxesAdditionalInfo'
            equal_opportunity_information:
              $ref: '#/components/schemas/EmployeeCustomFieldsEqualOpportunityInformation'
            payroll_taxes_pension_information:
              $ref: '#/components/schemas/EmployeeCustomFieldsPayrollTaxesPensionInformation'
    DeprecatedEmployee:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            user_id:
              type: number
              nullable: true
            gender:
              type: string
              enum:
                - MALE
                - FEMALE
                - NO_IDENTIFY
              description: employee gender
            national_number:
              type: string
              description: National number
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
            positions:
              type: array
              items:
                $ref: '#/components/schemas/DeprecatedEmployeePosition'
            pay_type:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - SALARIED
                    - HOURLY
                    - WEIGHTED_SHIFT
                cross_location_mode:
                  type: string
                  enum:
                    - FIXED
                    - FLEXIBLE
                  nullable: true
                  description: >-
                    this field is nullable, it depends on pay type. this will be defined
                    only if pay type is HOURLY
                annual_pay_rate:
                  $ref: '#/components/schemas/DeprecatedAnnualPayRate'
                max_weekly_hours:
                  type: number
            bank_account:
              type: object
              properties:
                id:
                  type: number
                routing_number:
                  type: string
                account_number:
                  type: string
                registration_number:
                  type: string
                account_type:
                  type: string
                  enum:
                    - SAVINGS
                    - CHECKING
                bank_name:
                  type: string
                account_name:
                  type: string
                sort_code:
                  type: string
              required:
                - account_number
    DeprecatedEmployeeV1:
      type: object
      properties:
        id:
          type: string
          example: '1'
          description: A unique ID provided by customers or third-parties
        email:
          type: string
          format: email
          description: employee email
        first_name:
          type: string
          description: employee first name
        last_name:
          type: string
          description: employee last name
        middle_name:
          type: string
          description: employee middle name
        known_as:
          type: string
        birth_date:
          type: string
          format: date
          description: employee birth date
        phone:
          type: string
          format: phone
          description: employee phone number
        home_phone:
          type: string
          format: phone
          description: home phone number
        blocked_from_rehire:
          type: boolean
        ssn:
          type: string
          description: employee SSN
        user_id:
          type: integer
        gender:
          type: string
          enum:
            - MALE
            - FEMALE
            - NO_IDENTIFY
          description: employee gender
        financial_unit_location_id:
          type: integer
        status:
          type: string
          enum:
            - ACTIVE
            - TERMINATED
        address:
          $ref: '#/components/schemas/Address'
        employer:
          type: object
          properties:
            email:
              type: string
              format: email
              description: employer email
            first_name:
              type: string
              description: employer first name
            last_name:
              type: string
              description: employer last name
        employment_period:
          $ref: '#/components/schemas/EmploymentPeriod'
        job_titles:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeJobTitle'
        vsl:
          type: string
          enum:
            - IN
            - OUT
        locations:
          type: array
          items:
            type: object
            allOf:
              - $ref: '#/components/schemas/Location'
              - type: object
                properties:
                  is_primary:
                    type: boolean
                  is_active:
                    type: boolean
                  payroll_id:
                    type: string
                  pos_id:
                    type: string
        positions:
          type: array
          items:
            $ref: '#/components/schemas/DeprecatedEmployeePosition'
        pay_type:
          type: object
          properties:
            id:
              type: number
            employee_id:
              type: number
              nullable: true
            type:
              type: string
              enum:
                - SALARIED
                - HOURLY
                - WEIGHTED_SHIFT
            cross_location_mode:
              type: string
              enum:
                - FIXED
                - FLEXIBLE
              nullable: true
              description: >-
                this field is nullable, it depends on pay type. this will be defined
                only if pay type is HOURLY
            annual_pay_rate:
              $ref: '#/components/schemas/DeprecatedAnnualPayRate'
            max_weekly_hours:
              type: number
            positions:
              type: array
              items:
                $ref: '#/components/schemas/DeprecatedEmployeePosition'
        bank_account:
          type: object
          properties:
            id:
              type: number
              description: employee bank account id
            routing_number:
              type: string
              description: for US locations only
            account_number:
              type: string
            registration_number:
              type: string
              description: for DK locations
            account_type:
              type: string
              enum:
                - SAVINGS
                - CHECKING
              description: for US locations only
            bank_name:
              type: string
            account_name:
              type: string
              description: for non US locations
            sort_code:
              type: string
              description: for other US locations
    DeprecatedEmployeeV2:
      type: object
      properties:
        id:
          type: string
          example: '1'
          description: A unique ID provided by customers or third-parties
        email:
          type: string
          format: email
          description: employee email
        first_name:
          type: string
          description: employee first name
        last_name:
          type: string
          description: employee last name
        middle_name:
          type: string
          description: employee middle name
        known_as:
          type: string
        birth_date:
          type: string
          format: date
          description: employee birth date
        phone:
          type: string
          format: phone
          description: employee phone number
        home_phone:
          type: string
          format: phone
          description: home phone number
        blocked_from_rehire:
          type: boolean
        national_number:
          type: string
          description: National number
        gender:
          type: string
          enum:
            - MALE
            - FEMALE
            - NO_IDENTIFY
          description: employee gender
        financial_unit_location_id:
          type: integer
        status:
          type: string
          enum:
            - ACTIVE
            - TERMINATED
        address:
          $ref: '#/components/schemas/Address'
        employer:
          type: object
          properties:
            email:
              type: string
              format: email
              description: employer email
            first_name:
              type: string
              description: employer first name
            last_name:
              type: string
              description: employer last name
        employment_period:
          $ref: '#/components/schemas/EmploymentPeriod'
        job_titles:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeJobTitle'
        vsl:
          type: string
          enum:
            - IN
            - OUT
        locations:
          type: array
          items:
            type: object
            allOf:
              - $ref: '#/components/schemas/Location'
              - type: object
                properties:
                  is_primary:
                    type: boolean
                  is_active:
                    type: boolean
                  payroll_id:
                    type: string
                  pos_id:
                    type: string
        positions:
          type: array
          items:
            $ref: '#/components/schemas/DeprecatedEmployeePosition'
        pay_type:
          type: object
          properties:
            id:
              type: number
            employee_id:
              type: number
              nullable: true
            type:
              type: string
              enum:
                - SALARIED
                - HOURLY
                - WEIGHTED_SHIFT
            cross_location_mode:
              type: string
              enum:
                - FIXED
                - FLEXIBLE
              nullable: true
              description: >-
                this field is nullable, it depends on pay type. this will be defined
                only if pay type is HOURLY
            annual_pay_rate:
              $ref: '#/components/schemas/DeprecatedAnnualPayRate'
            max_weekly_hours:
              type: number
            positions:
              type: array
              items:
                $ref: '#/components/schemas/DeprecatedEmployeePosition'
    DeprecatedEmployeeV3:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            gender:
              type: string
              enum:
                - MALE
                - FEMALE
                - NO_IDENTIFY
              description: employee gender
            national_number:
              type: string
              description: National number
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
            positions:
              type: array
              items:
                $ref: '#/components/schemas/DeprecatedEmployeePositionV2'
            pay_type:
              type: object
              properties:
                id:
                  type: number
                type:
                  type: string
                  enum:
                    - SALARIED
                    - HOURLY
                    - WEIGHTED_SHIFT
                cross_location_mode:
                  type: string
                  enum:
                    - FIXED
                    - FLEXIBLE
                  nullable: true
                  description: >-
                    this field is nullable, it depends on pay type. this will be defined
                    only if pay type is HOURLY
                annual_pay_rates:
                  type: array
                  items:
                    $ref: '#/components/schemas/DeprecatedAnnualPayRateV2'
                tronc:
                  type: number
                max_weekly_hours:
                  type: number
    DeprecatedEmployeeProfile:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
            positions:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Position'
                  - type: object
                    properties:
                      id:
                        type: number
                      location_id:
                        type: integer
                        nullable: true
                      is_tipped:
                        type: boolean
                      cost_centers:
                        type: array
                        items:
                          $ref: '#/components/schemas/CostCenter'
            pay_type:
              type: object
              properties:
                id:
                  type: number
                employee_id:
                  type: number
                  nullable: true
                type:
                  type: string
                  enum:
                    - SALARIED
                    - HOURLY
                    - WEIGHTED_SHIFT
                cross_location_mode:
                  type: string
                  enum:
                    - FIXED
                    - FLEXIBLE
                  nullable: true
                max_weekly_hours:
                  type: number
    DeprecatedEmployeeProfileV2:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            financial_unit_location_id:
              type: integer
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/EmployeePosition'
                  - type: object
                    properties:
                      tipped_statuses:
                        type: array
                        items:
                          $ref: '#/components/schemas/TippedStatus'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            troncs:
              type: array
              items:
                $ref: '#/components/schemas/DeprecatedTronc'
            max_weekly_hours:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                  value:
                    type: number
                  start_date:
                    type: string
                    format: date
    DeprecatedEmployeeProfileV3:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            financial_unit_location_id:
              type: integer
            loa_status:
              type: string
              nullable: true
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                id:
                  type: number
                  nullable: true
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/EmployeePosition'
                  - type: object
                    properties:
                      hourly_rates:
                        type: array
                        items:
                          $ref: '#/components/schemas/HourlyRate'
                      tipped_statuses:
                        type: array
                        items:
                          $ref: '#/components/schemas/TippedStatus'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            tronc_points:
              type: array
              items:
                $ref: '#/components/schemas/TroncPoint'
            tronc_amounts:
              type: array
              items:
                $ref: '#/components/schemas/TroncAmount'
            max_weekly_hours:
              type: array
              items:
                $ref: '#/components/schemas/MaxWeeklyHours'
    EmployeeProfile:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            financial_unit_location_id:
              type: integer
            loa_status:
              type: string
              nullable: true
            title:
              type: string
              nullable: true
            status:
              type: string
              enum:
                - ACTIVE
                - TERMINATED
            address:
              $ref: '#/components/schemas/Address'
            employer:
              type: object
              properties:
                id:
                  type: number
                  nullable: true
                email:
                  type: string
                  format: email
                  description: employer email
                first_name:
                  type: string
                  description: employer first name
                last_name:
                  type: string
                  description: employer last name
            employment_period:
              $ref: '#/components/schemas/EmploymentPeriod'
            job_titles:
              type: array
              items:
                $ref: '#/components/schemas/EmployeeJobTitle'
            vsl:
              type: string
              enum:
                - IN
                - OUT
            locations:
              type: array
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Location'
                  - type: object
                    properties:
                      is_primary:
                        type: boolean
                      is_active:
                        type: boolean
                      location_periods:
                        type: array
                        items:
                          $ref: '#/components/schemas/LocationPeriod'
                      payroll_id:
                        type: string
                      pos_id:
                        type: string
            positions:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/EmployeePosition'
                  - type: object
                    properties:
                      hourly_rates:
                        type: array
                        items:
                          $ref: '#/components/schemas/HourlyRate'
                      tipped_statuses:
                        type: array
                        items:
                          $ref: '#/components/schemas/TippedStatus'
            pay_types:
              type: array
              items:
                $ref: '#/components/schemas/PayType'
            tronc_points:
              type: array
              items:
                $ref: '#/components/schemas/TroncPoint'
            tronc_amounts:
              type: array
              items:
                $ref: '#/components/schemas/TroncAmount'
            max_weekly_hours:
              type: array
              items:
                $ref: '#/components/schemas/MaxWeeklyHours'
    DeprecatedEmployeesListV1:
      type: object
      properties:
        id:
          type: string
          example: '1'
          description: A unique ID provided by customers or third-parties
        email:
          type: string
          format: email
          description: employee email
        first_name:
          type: string
          description: employee first name
        last_name:
          type: string
          description: employee last name
        middle_name:
          type: string
          description: employee middle name
        known_as:
          type: string
        birth_date:
          type: string
          format: date
          description: employee birth date
        phone:
          type: string
          format: phone
          description: employee phone number
        home_phone:
          type: string
          format: phone
          description: home phone number
        blocked_from_rehire:
          type: boolean
        ssn:
          type: string
          description: employee SSN
        gender:
          type: string
          enum:
            - MALE
            - FEMALE
            - NO_IDENTIFY
          description: employee gender
    DeprecatedEmployeesListV2:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            payroll_id:
              type: string
            pos_id:
              type: string
            national_number:
              type: string
              nullable: true
    EmployeesListV2:
      allOf:
        - $ref: '#/components/schemas/EmployeeBasicInfo'
        - type: object
          properties:
            payroll_id:
              type: string
            pos_id:
              type: string
            national_number:
              type: string
              nullable: true
            title:
              type: string
              nullable: true
    MapperData:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
              internal_value:
                type: string
                description: Mapper internal code
              external_value:
                type: string
                description: Mapper external code
    UpdateMapper:
      type: object
      properties:
        data:
          type: string
          enum:
            - Success
    Event:
      type: object
      properties:
        id:
          type: string
          description: event uniqe id
        event_code:
          type: string
          example: "EMPLOYEE.HIRED"
        webhook:
          type: string
          format: url
        status:
          type: string
          enum:
            - IN_PROGRESS
            - SUCCESS
            - FAILED
        publish_time:
          type: string
          format: datetime
        location_id:
          type: string
        payload:
          type: object
          properties:
            type:
              type: string
              example: "EMPLOYEE.HIRED"
            location_id:
              type: string
            employee_id:
              type: string
            created_at:
              type: string
              example: '2024-10-20 12:54:20.277755'
            event_id:
              type: string
    Mapping:
      type: object
      properties:
        internal_value:
          type: string
        external_value:
          type: string
    AbsenceRequestFull:
      type: object
      allOf:
        - type: object
          properties:
            employee_id:
              type: number
              nullable: true
              description: >
                External employee id mapped from the internal `user_id` returned by the Team
                Attendance service. `null` when the mapping cannot be resolved.
            location_id:
              type: number
              nullable: true
              description: >
                External location id mapped from the internal `brand_id` returned by the Team
                Attendance service. `null` when the mapping cannot be resolved.
        - $ref: '#/components/schemas/AbsenceRequest'
    AbsenceRequest:
      type: object
      allOf:
        - type: object
          properties:
            id:
              type: number
              description: id of the absence request
        - $ref: '#/components/schemas/AbsenceRequestNoId'
    AbsenceRequestNoId:
      type: object
      properties:
        absence_type:
          type: string
          description: Type of absence (e.g., TIME_OFF, LOA)
        start_date:
          type: string
          format: date
          description: Start date of the absence request
        end_date:
          type: string
          format: date
          description: End date of the absence
        projected_end_date:
          type: string
          format: date
          nullable: true
          description: Projected end date of the absence
        status:
          type: string
          description: Status of the absence
          enum:
            - APPROVED
            - PENDING_APPROVAL
            - DELETED
            - REJECTED
            - WITHDRAWN
        reason_option:
          type: object
          properties:
            code:
              type: string
              description: Reason code
            name:
              type: string
              description: Reason name
        reason_description:
          type: string
          description: Detailed description of the reason for absence from the employee
        submitted_on:
          type: string
          format: date-time
          description: Timestamp when the absence was submitted
        days:
          type: array
          description: List of days included in the absence
          items:
            $ref: '#/components/schemas/AbsenceRequestDay'
    AbsenceRequestDay:
      type: object
      properties:
        id:
          type: integer
          description: Day ID
        date:
          type: string
          format: date
          description: Date of the absence
        weight:
          type: number
          description: Weight of the absence for the day
        from_time:
          type: integer
          nullable: true
          description: Start time in seconds since midnight if is_all_day is false
        to_time:
          type: integer
          nullable: true
          description: End time in seconds since midnight if is_all_day is false
        is_all_day:
          type: boolean
          description: Indicates if the absence covers the entire day
    AbsenceRequestList:
      type: object
      properties:
        requests:
          type: array
          description: array of absence requests
          items:
            $ref: '#/components/schemas/AbsenceRequest'
    AbsenceRequestUpdate:
      type: object
      properties:
        absence_type:
          type: string
          description: Type of absence (e.g., TIME_OFF, LOA)
        submitted_on:
          type: string
          format: date-time
          description: Timestamp when the absence was submitted
        start_date:
          type: string
          format: date
          description: Start date of the absence request
        end_date:
          type: string
          format: date
          description: End date of the absence
        projected_end_date:
          type: string
          format: date
          nullable: true
          description: Projected end date of the absence
        reason_option:
          type: object
          properties:
            code:
              type: string
              description: Reason code
        reason_description:
          type: string
          description: Detailed description of the reason for absence
        days:
          type: array
          items:
            allOf: # The entire item definition is now wrapped in allOf
              # --- Item 1: The base object ---
              - type: object
                properties:
                  id:
                    type: number
                    description: added in case day already exists.
                  date:
                    type: string
                    example: '2025-05-28'
                  weight:
                    type: number
                  is_all_day:
                    type: boolean
                  from_time:
                    type: number
                    minimum: 0
                  to_time:
                    type: number
                required:
                  - date
                  - weight
                  - is_all_day
    Pagination:
      type: object
      properties:
        pagination:
          type: object
          properties:
            page:
              type: integer
              description: current page number that starts with 1
            per_page:
              type: integer
              description: amount of records per page
            total:
              type: integer
              description: total number of records
            total_pages:
              type: integer
              description: total number of pages
    AbsenceReasonOptionsList:
      type: object
      properties:
        reason_options:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: code of the reason option
              name:
                type: string
                description: name/label for the reason option
    PostEmployeePayTypeResponseV1:
      type: object
      properties:
        pay_type:
          type: object
          properties:
            id:
              type: number
            type:
              type: string
              enum:
                - SALARIED
                - HOURLY
                - WEIGHTED_SHIFT
            start_date:
              type: string
              format: date
            cross_location_mode:
[...]
