openapi: 3.2.0
info:
  title: Harri Employee Open Franchisee TroncAmounts API
  description: 'API for managing and retrieving employee data in the Harri system. - Notice: Harri''s API enforces a rate limit of 400 requests per minute. Once you exceed this limit, an HTTP 403 error is returned with a body that informs you that the limit has been exceeded. Please examine the API returns for this error so your software can respond appropriately. After 4 June, 2026, the rate limiting error will change from 403 to 429.'
  termsOfService: https://harri.com/terms
  version: 1.0.0
servers:
- url: https://gateway.harri.com/open-api-hub
tags:
- name: Franchisee TroncAmounts
paths:
  /api/v1/franchisees/{franchiseeId}/employees/{employeeId}/pay_types/{payTypeId}/tronc_amounts:
    get:
      tags:
      - Franchisee TroncAmounts
      summary: Retrieve employee tronc amounts API
      description: Retrieve employee tronc amounts
      operationId: FranshiseesGetEmployeeTroncAmounts
      parameters:
      - name: franchiseeId
        in: path
        required: true
        schema:
          type: number
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  tronc_amounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/TroncAmount'
  /api/v2/franchisees/{franchiseeId}/employees/{employeeId}/pay_types/{payTypeId}/tronc_amounts:
    post:
      tags:
      - Franchisee TroncAmounts
      summary: Define new employee tronc amount API
      description: 'use this api when u want to define new employee tronc amount

        '
      operationId: FranshiseesCreateEmployeeTroncAmount
      parameters:
      - name: franchiseeId
        in: path
        required: true
        schema:
          type: number
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Employee tronc amount
        content:
          application/json:
            schema:
              type: object
              properties:
                tronc_amount:
                  type: object
                  properties:
                    value:
                      type: number
                    start_date:
                      type: string
                      format: date
              required:
              - value
              - start_date
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  tronc_amount:
                    $ref: '#/components/schemas/TroncAmount'
  /api/v2/franchisees/{franchiseeId}/employees/{employeeId}/pay_types/{payTypeId}/tronc_amounts/{troncAmountId}:
    put:
      tags:
      - Franchisee TroncAmounts
      summary: Update employee tronc amount API
      description: Update employee tronc amount by id
      operationId: FranshiseesUpdateEmployeeTroncAmount
      parameters:
      - name: franchiseeId
        in: path
        required: true
        schema:
          type: number
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      - name: troncAmountId
        in: path
        description: tronc amount id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Employee tronc amount
        content:
          application/json:
            schema:
              type: object
              properties:
                tronc_amount:
                  type: object
                  properties:
                    value:
                      type: number
                    start_date:
                      type: string
                      format: date
      responses:
        '200':
          description: successful operation
    delete:
      tags:
      - Franchisee TroncAmounts
      summary: Delete employee tronc amount API
      description: Delete employee tronc amount by id
      operationId: FranshiseesDeleteEmployeeTroncAmount
      parameters:
      - name: franchiseeId
        in: path
        required: true
        schema:
          type: number
      - name: employeeId
        in: path
        description: employee id
        required: true
        schema:
          type: string
      - name: payTypeId
        in: path
        description: pay type id
        required: true
        schema:
          type: integer
          format: int64
      - name: troncAmountId
        in: path
        description: tronc amount id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
components:
  schemas:
    TroncAmount:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
        start_date:
          type: string
          format: date
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.harri.com/oauth2/token
          scopes: {}
